name: CI - TypeScript
on:
  push:
    branches: [main]
    paths:
      - '.github/workflows/ci-typescript.yml'
      - '**/*.json'
      - '!.vscode'
      - '**/*.json5'
      - 'test/**'
  pull_request:
    paths:
      - '.github/workflows/ci-typescript.yml'
      - '**/*.json'
      - '!.vscode'
      - '**/*.json5'
      - 'test/**'

jobs:
  test:
    timeout-minutes: 5
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 18
          cache: npm
      - run: npm ci
      - run: npx tsc
      - run: npx ts-node-test test/*.ts
